@use '../custom' as *;
@use '../components/mixins' as *;


.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: "Poppins", serif;
    
    &--intro {
        display: inline-block;
        font-weight: 700;
        font-size: 4.55rem;
        font-family: "Poppins", serif;
    }
    &--description {
        font-size: 1.5rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;
    }
}


/* heading-line */

.heading-line::before {
    content: "";
    width: 12rem;
    height: 0.1rem;
    display: block;
    background-color: $primary;
    margin: 0 auto;
}

.heading-line::after {
    content: "";
    width: 2rem;
    height: 0.4rem;
    padding-top: 0.5rem;
    display: block;
    background-color: $primary;
    margin: 0 auto;
}

/* display content gradient */

.display-3 {
    font-family: "Poppins", serif;
    &--title {
        font-size: 1.8rem;
        font-family: "Poppins", serif;
        text-transform: capitalize;
        font-weight: 600;
        display: inline-block;
        background-image: linear-gradient(to right, $primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
}

.border-right {
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}